@font-face {
  font-family: gotham;
  src: url(/gothamlight-webfont.woff2);
  font-weight: 100;
}

@font-face {
  font-family: gotham;
  src: url(/gothambook-webfont.woff2);
  font-weight: 300;
}


body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: gotham;
}

*{
  box-sizing: border-box;
}

.poster{
  max-width: 100vw;
  width: auto;
  height: 98vh;
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 8.27/11.67;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.5);
}

.poster .image{
  position: absolute;
  width: 65%;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  z-index: -1;
  object-fit: cover;
  opacity: 0;
  border-radius: 25px;
  filter: brightness(0.9);
}


.poster div.part{
  width: 50%;
  height: 49vh;
  /* border: 0.5px solid black; */
  position: relative;
  padding: 1.5vh;
}

h2{
  margin: 0;
  font-weight: 500;
  color: white;
  font-size: 3vh;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  max-height: 35vh;
  flex-direction: column;
  margin-top: 10px;
}

.category{
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1/1;
  margin-right: 1vh;
  margin-bottom: 1vh;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.2);
  line-height: 1;
}

.categories :nth-child(5){
  margin-left: -18%;
}

.categories :nth-child(6){
  margin-top: -27%;
  margin-left: 10%;
}

.locations{
  display: none;
  flex-wrap: wrap;
  height: 35vh;
  max-width: 805;
  /* flex-direction: column; */
  margin-top: 0;
  justify-content: end;
  align-items: end;
  
}

.location{
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1/1;
  margin-right: 1vh;
  margin-bottom: 1vh;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.2);
}



#percentage{
  font-size: 9vh;
  margin-left: 22%;
  line-height: 1;
  margin-top: 1vh;
}

#quote{
  font-size: 2.3vh;
  font-weight: 300;
  max-width: 85%;
  margin-left: 10%;
  margin-top: 1.5vh;
}

.left-top{
  overflow: visible;
}

.nieuwkomers .left-top:before{
  background-color: rgb(200,200, 200);
}

.nieuwkomers .right-bottom:before {
  background-color: rgb(170,236, 88);
}
.ouderen .left-top:before{
  background-color: rgb(130,31, 125);
}
.ouderen  .right-bottom:before{
  background-color: rgb(200,200, 200);
}
.beperking .left-top:before{
  background-color: rgb(200,200, 200);
}

.beperking  .right-bottom:before{
  background-color: rgb(130,31, 125);
}

.natuur .left-top:before{
  background-color: rgb(170,236, 88);
}

.natuur .right-bottom:before {
  background-color: rgb(9,97, 51);
}

.hulp .left-top:before{
  background-color: rgb(9,97, 51);
}

.hulp .right-bottom:before{
  background-color: rgb(200,200, 200);
}

.kinderen .left-top:before{
  background-color: rgb(9,97, 51);
}

.kinderen .right-bottom:before{
  background-color: rgb(170,236, 88);
}



.left-top:before{
  content: "";
  position: absolute;
  z-index: -9;
  width: 85%;
  margin-left: 15%;
  height: 120%;
  border-radius: 25px;
  animation: fadeIn 1s forwards;
  transition: all 1s ease;
}

.right-bottom:before{
  content: "";
  position: absolute;
  z-index: -9;
  width: 100%;
  height: 120%;
  right: 1.5vh;
  bottom: 8vh;
  border-radius: 25px;
  animation: fadeIn 1s forwards;
  transition: all 1s ease;
}

.poster .left-bottom.part{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.left-top .small{
  transform: rotate(-90deg) translate(-50%, -100%);
  position: absolute;
  top: 1.5vh;
  left: -15%;
  font-size: 1.5vh;
}

.left-bottom .small{
  margin-top: 14px;
}

.right-top .small{
  text-align: right;
  margin-bottom: 14px;
}

.small{
  font-size: 1.5vh;
}

.quote2{
  font-size: 2.3vh;
  font-weight: 300;
  max-width: 80%;
}

#statement{
  font-size: 1.8vh;
  margin-left: 22%;
}

#amount{
  background-color: white;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  min-width: 12vh;
  min-height: 12vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1/1;
  font-size: 3vh;
  position: absolute;
  left: 1.5vh;
  bottom: 60%;
  line-height: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.category .count {
    display: inline-block;
    min-width: 2ch; 
    text-align: center; 
    font-family: monospace; 
    padding-top: 3px;
}

.logo{
  position: absolute;
  bottom: 2vh;
  right: 1.5vh;
  width: 40%;
  height: auto;
}

#fileInput{
  position: absolute;
  top: 14px;
  left: 14px;
}

.refresh{
  position: absolute;
  top: 14px;
  right: 14px;
}

.animate{
  position: absolute;
  top: 55px;
  right: 14px;
}

.locationSwitch{
  position: absolute;
  top: 95px;
  right: 14px;
}

.print{
  position: absolute;
  right: 14px;
  bottom: 14px;
}

.button{
  border: 1px solid black;
  padding: 5px 20px;
}

.active{
  background-color: black;
  color: white;
}

.padding{
  padding-right: 24px;
}

@media print{
  .button, input{
    display: none;
  }
  .poster{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

}

.poster.loc .categories{
  display: none;
}

.poster.loc .locations{
  display: flex;
}


.poster.loc h2{
  position: absolute;
  left: -60%;
  bottom: 45%;
}